In [1]:
import pandas as pd
import numpy as np
import glob #to read all files at once

In [2]:
path = r"C:/Users/Faizan Qudsi/OneDrive/Desktop/Programming Practice/Google Data Analysis/Case Study Cyclist/Data/CSV"
all_files = glob.glob(path + "/*.csv")

In [12]:
#creating a list of dataframes from the CSVs
li = []
for file in all_files:
    df = pd.read_csv(file)
    li.append(df)

In [21]:
dfMerged = pd.concat(li, axis=0)

In [24]:
dfMerged.shape[0]

3489748

In [25]:
#cross checking the number of rows
totalRows = 0
for df in li:
    totalRows += df.shape[0]
totalRows

3489748

In [31]:
dfMerged.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [32]:
dfMerged['started_at'] = pd.to_datetime(dfMerged['started_at'])
dfMerged['ended_at'] = pd.to_datetime(dfMerged['ended_at'])

In [30]:
dfMerged.dtypes

ride_id                       object
rideable_type                 object
started_at            datetime64[ns]
ended_at              datetime64[ns]
start_station_name            object
start_station_id              object
end_station_name              object
end_station_id                object
start_lat                    float64
start_lng                    float64
end_lat                      float64
end_lng                      float64
member_casual                 object
dtype: object

In [34]:
dfMerged.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,A847FADBBC638E45,docked_bike,2020-04-26 17:45:14,2020-04-26 18:12:03,Eckhart Park,86,Lincoln Ave & Diversey Pkwy,152,41.8964,-87.6610,41.9322,-87.6586,member
1,5405B80E996FF60D,docked_bike,2020-04-17 17:08:54,2020-04-17 17:17:03,Drake Ave & Fullerton Ave,503,Kosciuszko Park,499,41.9244,-87.7154,41.9306,-87.7238,member
2,5DD24A79A4E006F4,docked_bike,2020-04-01 17:54:13,2020-04-01 18:08:36,McClurg Ct & Erie St,142,Indiana Ave & Roosevelt Rd,255,41.8945,-87.6179,41.8679,-87.6230,member
3,2A59BBDF5CDBA725,docked_bike,2020-04-07 12:50:19,2020-04-07 13:02:31,California Ave & Division St,216,Wood St & Augusta Blvd,657,41.9030,-87.6975,41.8992,-87.6722,member
4,27AD306C119C6158,docked_bike,2020-04-18 10:22:59,2020-04-18 11:15:54,Rush St & Hubbard St,125,Sheridan Rd & Lawrence Ave,323,41.8902,-87.6262,41.9695,-87.6547,casual

In [45]:
#adding a ride length, weekday, and month column
dfMerged['ride_length'] = (dfMerged['ended_at']-dfMerged['started_at']).astype('timedelta64[m]')
dfMerged['day'] = dfMerged['started_at'].dt.day_name()
dfMerged['Month'] = dfMerged['started_at'].dt.month_name()

In [46]:
dfMerged.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_length,day,Month
0,A847FADBBC638E45,docked_bike,2020-04-26 17:45:14,2020-04-26 18:12:03,Eckhart Park,86,Lincoln Ave & Diversey Pkwy,152,41.8964,-87.6610,41.9322,-87.6586,member,26.0,Sunday,April
1,5405B80E996FF60D,docked_bike,2020-04-17 17:08:54,2020-04-17 17:17:03,Drake Ave & Fullerton Ave,503,Kosciuszko Park,499,41.9244,-87.7154,41.9306,-87.7238,member,8.0,Friday,April
2,5DD24A79A4E006F4,docked_bike,2020-04-01 17:54:13,2020-04-01 18:08:36,McClurg Ct & Erie St,142,Indiana Ave & Roosevelt Rd,255,41.8945,-87.6179,41.8679,-87.6230,member,14.0,Wednesday,April
3,2A59BBDF5CDBA725,docked_bike,2020-04-07 12:50:19,2020-04-07 13:02:31,California Ave & Division St,216,Wood St & Augusta Blvd,657,41.9030,-87.6975,41.8992,-87.6722,member,12.0,Tuesday,April
4,27AD306C119C6158,docked_bike,2020-04-18 10:22:59,2020-04-18 11:15:54,Rush St & Hubbard St,125,Sheridan Rd & Lawrence Ave,323,41.8902,-87.6262,41.9695,-87.6547,casual,52.0,Saturday,April

In [61]:
#removing rows which have negative ride lenghts
dfCleaned = dfMerged[dfMerged['ride_length'] > 0]

In [62]:
dfCleaned.shape

(3429432, 16)

In [63]:
#no of rows with ride length less than equal to zero
dfMerged.shape[0] - dfCleaned.shape[0]

60316

In [64]:
#average ride length
dfCleaned['ride_length'].mean()

27.859922284506588

In [66]:
#No of rides by day
dfCleaned['day'].value_counts()

Saturday     649103
Sunday       520387
Friday       507501
Thursday     460140
Wednesday    456719
Tuesday      423222
Monday       412360
Name: day, dtype: int64

In [67]:
#average ride length of member and casual riders 
dfCleaned.groupby('member_casual')['ride_length'].mean()

member_casual
casual    45.014347
member    15.879930
Name: ride_length, dtype: float64

In [68]:
#average ride length day 
dfCleaned.groupby('day')['ride_length'].mean()

day
Friday       26.618657
Monday       25.934853
Saturday     32.599218
Sunday       34.365240
Thursday     24.973173
Tuesday      23.566450
Wednesday    23.716438
Name: ride_length, dtype: float64

In [69]:
#average ride length by month 
dfCleaned.groupby('Month')['ride_length'].mean()

Month
April        35.788749
August       29.924076
December     15.681522
February     24.411519
January      14.999151
July         38.338560
June         33.490578
March        22.670663
May          33.307970
November     19.569791
October      19.969754
September    25.285726
Name: ride_length, dtype: float64

In [70]:
#average ride length by month and member_type
dfCleaned.groupby(['Month', 'member_casual'])['ride_length'].mean()

Month      member_casual
April      casual           73.078923
           member           21.275194
August     casual           45.108687
           member           16.640198
December   casual           26.653733
           member           12.421138
February   casual           49.699117
           member           17.898255
January    casual           25.582222
           member           12.565016
July       casual           59.903829
           member           17.549911
June       casual           51.587448
           member           18.512931
March      casual           38.069527
           member           13.677619
May        casual           51.097580
           member           19.566546
November   casual           31.756532
           member           13.294522
October    casual           30.314469
           member           13.800984
September  casual           38.268014
           member           15.319813
Name: ride_length, dtype: float64